.main-page{
  display:flex;
  flex-direction: column;
  justify-content: center;
  //align-content: center;
  align-items: center;
  height: 100%;
}

/** Puts sign in & registration buttons in upper right-hand corner /*