<!-- <p>movie-card works!</p> -->
<div *ngIf="loading">
  <div class="loader"></div>
</div>
<div class="grid">
  <mat-grid-list cols="4" rowHeight="600px">
    <mat-grid-tile
      *ngFor="let movie of movies; let i=index;">
      <mat-card>
        <mat-dialog-content>
          <img mat-card-image src={{movie.ImagePath}}/>
          <mat-card-title>{{movie.Title}}</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-dialog-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
